<div class="sticky-bottom" style="background-color: #3fca86;">
<div class="col">
  <ul class="nav justify-content-center pt-5 pb-3" style="background-color: #3fca86;">
    <li class="nav-item" style="color:white;">
      <%= link_to 'Home', root_path, class:"nav-link" %>
    </li>
    <li class="nav-item" style="color:white;">
      <%= link_to 'Technology', home_technology_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'About', home_about_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Contact', home_contact_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'FAQ', home_faq_path, class:"nav-link" %>
    </li>
  </ul>

  <div class="container pb-3" style="text-align:center; color: white;">
  <p>Made in the U.S.A <%= image_tag 'us-flag-icon.png', class:'shadow' %> </p>
  </div>

  <div class="container pb-5" style="text-align:center; color: white;">
    <p>Copyright ©2021 MediantRX. All Rights Reserved.</p>
  </div>
</div>

<div class="col">
  <p>info@mediantRX.com</p>
  <p>1-(800)-633-0853</p>
</div>

</div>