
<div class="container-fluid" style="background-color: #3fca86;">
  <div class="row align-items-center pb-5 pt-5" style="text-align: center;">

    <div class="col">
      <ul class="footer-ul">
        <li><%= link_to 'Home', root_path, class:'footer-link' %></li>
        <li><%= link_to 'Technology', home_technology_path, class:'footer-link' %></li>
        <li><%= link_to 'Covid-19', home_covid19_path, class:'footer-link' %></li>
        <li><%= link_to 'Scientific Proof', home_proof_path, class:'footer-link' %></li>
        <li><%= link_to 'Safety', home_safety_path, class:'footer-link' %></li>
        <li><%= link_to 'About', home_about_path, class:'footer-link' %></li>
        <li><%= link_to 'Contact', home_contact_path, class:'footer-link' %></li>
      </ul>
    </div>


    <div class="col" style="color: white;">
      <p>
        Made in the USA <%= image_tag 'us-flag-icon.png', class:'shadow' %>
      </p>
      <p class="fs-6">
        A joint venture with <b>Apollo3 Energy</b> - a <b>Vollara</b> distribution partner.
      </p>
      <p>
        MEDIANT Inc. - EST 2008 USA - All Rights Reserved.
        <br>
        www.mediantrx.com
      </p>
    </div>
    <div class="col" style="color: white;">
      <p>
        info@mediantRX.com
      </p>
      <p>
        1-(800)-633-0853
      </p>
      <p>16475 Beach Blvd. Suite 319
      <br> Westminster, CA 92683
      </p>
    </div>


  </div>
</div>
