<!-- Header image with button-->
<div class="p-5 text-center bg-image shadow-lg" style="background: url(<%= asset_path 'cv-hero-image.jpg' %>);">
  <div class="container pt-4 pb-4 w-75">
    <div class="d-flex justify-content-center align-items-center h-100">
    
      <div style="color: black;">
        <h2 class="mb-3 pb-4">
        Back to School. Back to Business. Back to normal Life.
        </h2>
          <%= link_to home_contact_path do %>
          <button class="btn btn-lg shadow" style="background-color: #3fca86; color: white;">Learn More</button>
          <% end %>
          <p class="pt-3"><h5>PROTECT yourself, your family, and your clients.</h5></p>
      </div>


    </div>
  </div>
</div>

<!--Content section 1-->
<div class="container w-75">
<div class="row align-items-center">

  <div class="pb-5 pt-5" style="text-align: center;">
      <p><h1>The Only Technology Available in Products Proven to Reduce over 99.9% of the Virus that Causes COVID-19 
      on Both Surfaces and In the Air.</h1></p>
    <p class="fs-6">ActivePure does not replace the need to follow CDC guidance and should be used as a complementary technology.</p>
  </div>

  <!--FDA modal-->
  <div class="col" style="text-align: center;">
    <button type="button" class="btn fda-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <%= image_tag 'fda-logo-01.png', class:'fda-landing' %>
    <p><h4>An FDA Cleared Device</h4></p>
    </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <%= image_tag 'fda-cert-01.png', class:'fda-cert-modal-body' %>
      </div>
    </div>
  </div>


  <div class="col" style="text-align: center;">
    <%= link_to home_technology_path do %>
      <%= image_tag 'nasa-logo-02.png', class:'nasa-landing' %>
    <% end %>
    <p><h4>NASA Developed Technology</h4></p>
  </div>

  <div class="col" style="text-align: center;">
    <%= link_to home_covid19_path do %>
      <%= image_tag 'active-product-1.jpg', class:'ct-1-product' %>
    <% end %>
    <p><h4>Works ACTIVELY In Air and Surfaces</h4></p>
  </div>

  <div class="col" style="text-align: center;">
    <%= link_to home_covid19_path do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#3fca86" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 
                                2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 
                                7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 
                                0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 
                                0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"/>
</svg>
    <% end %>
    <p><h4>a TESTED and PROVEN technology</h4></p>
  </div>

</div>
</div>
  <!--active pure logo-->
<div class="row justify-content-center pt-5">
  <%= image_tag 'activepure-logo.jpg', class:'ap-logo' %>
</div>

<div class="container pt-3 pb-5" style="text-align: center;">
<div class="row align-items-center">
  <div class="col">
      <p>ActivePure Technology is proven to neutralize pathogens, including the virus that causes 
      COVID-19, on surfaces and in the air. ActivePure does not replace the need to follow CDC guidance 
      and should be used as a complementary technology. Our Medical Guardian is cleared by the FDA as a 
      Class II Medical Device; and now we are making this same technology available to every business, 
      hospital, public space, school, and home in America.</p>
  </div>
</div>
</div>
</div>

<!--Content section 2-->

<div style="background-color: #f7f7f7;">
<div class="container pt-5 pb-5 w-75">
<div class="row align-items-center">

    <div class="col-sm section-2-p">
      <p><h2>Make Every Indoor Space Safer.</h2></p>
      <p>ActivePure's Proactive Pathogen Defense™ continuously creates oxidizing molecules that significantly 
      reduces viruses, bacteria, odors, and volatile organic compounds - both on surfaces and in the air. ActivePure 
      does not replace the need to follow CDC guidance and should be used as a complementary technology.</p>

      <p>In independent third-party laboratory tests, ActivePure has been proven to reduce up to 99.99% of pathogens 
      including SARS-CoV-2 (the virus that causes COVID-19), Avian influenza, E.Coli, MRSA, Norovirus, Staph bacteria, 
      Candida, Swine Flu, Hepatitis, Legionella, and more.</p>
      <p>
      <%= link_to home_contact_path do %>
          <button class="btn btn-lg shadow" style="background-color: #3fca86; color: white;">Learn More</button>
          <% end %>
      </p>
    </div>

    <div class="col" style="text-align:center;">
      <%= image_tag 'percent-01.png', class:'landing-99' %>
    </div>
  
</div>
</div>
</div>
<!--Content section 3-->

<div>
<div class="container pt-5 pb-5 w-75">
<div class="row align-items-center">

    <div class="col open-business" style="text-align:center;">
      <%= image_tag 'active-product-1.jpg', class:'ct-3-product' %>
    </div>
    <div class="col">
      <%# <p><h2>Reopening Businesses. Reuniting Community. Protecting Lives.</h2></p> %>
      <p><h4>PROACTIVE PATHOGEN DEFENSE</h4></p>
      <p>Unlike passive air filters, purifiers & other systems, ActivePure proactively seeks 
      out pathogens, continuously protecting our homes, schools, restaurants, factories, arenas, and any indoor space.</p>

      <p><h4>HOSPITAL-GRADE TECHNOLOGY, AVAILABLE FOR HOMES</h4></p>
      <p>Developed to medical grade standards and relied upon in Acute 
      Care settings like the Cleveland Clinic, ActivePure is now available for everyone, in every setting.
      </p>
    </div>
    
  
</div>
</div>
</div>

<!--Content section 4-->

<div style="background-color: #f7f7f7;">
<div class="container pt-5 pb-5 w-50">
<div class="row align-items-center">


    <div class='container pb-5' style="text-align:center;">
      <h2>We Protect All Indoor Spaces. Which Do You Need to Protect Today?</h2>
    </div>

    <div class="container pb-5" style="text-align:center;">
      <h4>Discover how ActivePure can help you live fully with confidence.</h4>
    </div>

    <div class="container pb-3" style="text-align:center;">
      <%= link_to home_contact_path do %>
          <button class="btn btn-lg shadow" style="background-color: #3fca86; color: white;">Learn More</button>
          <% end %>
    </div>
    
  
</div>
</div>
</div>