<!--Section 1 header-->
<div style="background-color: #f7f7f7;">
<div class="container-fluid w-75">
<div class="row align-items-center pt-5 pb-5" style="text-align: center;">
    <p><h1>Safe, Tested, Trusted</h1></p>
    <p style="text-align: justify;">Since 1924, ActivePure Technologies has created the healthiest indoor environments across the globe. 
    Our ActivePure Technology, which evolved from the NASA space program, has undergone continuous research 
    and development efforts to continuously improve its efficacy in various applications since 2009.</p>
    <p style="text-align: justify;">Products developed by ActivePure Technologies have helped protect over 50 million businesses and 
    residences worldwide in more than 72 counties. Our technology has been honored by the Smithsonian, the 
    Space Foundation as Certified Space Technology, and has been inducted into the Space Foundation Hall of Fame.</p>
</div>
</div>
</div>

<!--Section 2-->
<div class="container-fluid safetypage-s2-container">
<div class="row pt-5 pb-5">

    <div class="col">
        <%= image_tag 'activepure-seal.png', class:'safety-s2-seal'%>
    </div>
    <div class="col">
        <%= image_tag 'active-product-1.jpg', class:'safety-s2-p1'  %>
    </div>
    <div class="col">
        <%= image_tag 'active-product-2.jpg', class:'safety-s2-p2'  %>
    </div>
    <div class="col">
        <%= image_tag 'active-product-3.jpg', class:'safety-s2-p3'  %>
    </div>

</div>
</div>

<!--Section 3-->
<div style="background-color: #f7f7f7;">
<div class="container-fluid w-75">
<div class="row align-items-center pt-5 pb-5">

    <div class="col" style="text-align: justify;">
        <p><h4>ActivePure and FDA</h4></p>
        <p>In June 2020, the ActivePure Medical Guardian with ActivePure Technology was registered and cleared 
        as an FDA Class II Medical Device after a two-year process. The product cleared by the FDA is intended 
        for medical purposes and is used to reduce staphylococcus epidermidis and erwinia herbicola bacteria; 
        MS2 and Phi-X174 viruses; aspergillus niger fungal spores; and bacillus globigii bacterial spores from 
        the air in a temperature-controlled professional health care environment.</p>
    </div>
    <div class="col">
        <%= image_tag 'safetypage-p2.png', class:'safetypage-p2' %>
    </div>

</div>
</div>
</div>

<!--Section 4-->
<div class="container-fluid w-75">
<div class="row align-items-center pt-5 pb-5">

    <div class="col pb-5">
        <p><h4>ActivePure is Proven Safe Around People, Pets, and Plants</h4></p>
        <%= image_tag 'safetypage-p4.jpg', class:'safetypage-p4' %>
    </div>
    <div class="col" style="text-align: justify;">
        <p>ActivePure Technology begins working immediately to disinfect exposed surfaces and the air safely. 
        The FDA validated ActivePure Technology's safety for use in occupied spaces in 2020, with the ActivePure 
        Medical Guardian becoming an FDA Cleared Class II Medical Device. The same technology in the ActivePure 
        Medical Guardian is available in over 100 different portable, handheld, and HVAC installed units, which 
        run quietly, 24 hours a day, seven days a week.</p>
        <p>Devices with ActivePure Technology release millions of safe microscopic ActivePure Molecules into rooms. 
        These molecules continuously seek airborne and surface pathogens and contaminants and immediately neutralize 
        them on impact. </p>
        <p>Real-time disinfection is critical for indoor high-occupancy areas. ActivePure Technology is the best 
        solution to get the world back to work, school, restaurants, events and life before COVID-19. </p>
    </div>

</div>
</div>

<!--Section 5-->
<div style="background-color: #f7f7f7;">
<div class="container-fluid w-75">
<div class="row align-items-center pt-5 pb-5">

    <div class="col" style="text-align: justify;">
        <p><h4>ActivePure and FDA-Compliant Labs</h4></p> 
        <p>ActivePure Technology is the most effective surface and air countermeasure to viruses and bacteria, with its 
        efficacy based and proven in independent university and FDA-compliant laboratory studies. ActivePure Technology 
        has consistently proven its ability to safely control and neutralize contaminants such as viruses, bacteria, 
        mold, fungi, and Volatile Organic Compounds (VOCs) in numerous independent studies.1</p>
        
        <p>
            <ul>
                <li>
                    University of Texas Medical Branch confirmed that the ActivePure Technology inside the Aerus Pure & Clean 
                    and the Vollara Air & Surface Pro inactivates 99.9% of airborne SARS-CoV-2 viruses within three minutes
                </li>
                <li>
                    The Aerus Hydroxyl Blaster with ActivePure Technology demonstrated in an FDA-compliant laboratory, 
                    MRIGlobal, a 93% surface reduction in three hours of live SARS-CoV-2 viruses and a 99.98% reduction 
                    rate in seven hours
                </li>
            </ul>
        </p>
    </div>
    <div class="col">
        <%= image_tag 'safetypage-p5.jpg', class:'safetypage-p5' %>
    </div>

</div>
</div>
</div>

<!--Section 6-->
<div class="container-fluid w-75">
<div class="row align-items-center pt-5 pb-5">

    <div class="col">
        <%= image_tag 'safetypage-p6.jpg', class:'safetypage-p6' %>
    </div>
    <div class="col" style="text-align: justify;">
        <p><h4>ActivePure and the CDC</h4></p>
        <p>Since the onset of the COVID-19 pandemic, numerous products have entered the marketplace with undocumented 
        track records of success relative to air cleaning and disinfection, especially compared to the 30-year testing 
        history on ActivePure Technology. While the Centers for Disease Control, also known as the CDC, does not provide 
        recommendations for or against any manufacturer or product, they provide recommendations for consumers to look 
        for when considering the acquisition and use of such products. CDC guidelines recommend that consumers “request 
        testing data that quantitively demonstrates a clear protective benefit and occupant safety under conditions 
        consistent with the intended use.” ActivePure does not replace the need to follow CDC guidance and should be 
        used as a complementary technology.</p>
        
    </div>

</div>
</div>