<div class="container w-75 pt-5 pb-5">

    <div class="row align-items-center pb-5">
    <div class="col-sm-4">
        <%= image_tag 'aerosol-logo.png', class:'sp-a-logo' %>
    </div>
    <div class="col-sm-8" style="text-align: justify;">
        <p>ARE Labs was founded in March 2009.  We bring together a diverse staff with 
        educational backgrounds in chemical, mechanical & electrical engineering, biology,
         chemistry, and physics with practical experience in the fields of aerosol physics, 
         aerosol chemistry, formulation, inhalation toxicology and aerobiology.</p>
         <p>
         <input type="button" class="sp-learn-more" value="Documentation">
         </p>
    </div>
    </div>

    <div class="row align-items-center pb-5">
    <div class="col-sm-4">
        <%= image_tag 'mriglobal-logo.png', class:'sp-mri-logo' %>
    </div>
    <div class="col-sm-8" style="text-align: justify;">
        <p>MRIGlobal’s focus is translating new technologies that support better health 
        outcomes for humans, animals, and our environment. We apply our diverse and cutting-edge 
        technical capabilities and expertise to provide smart, collaborative solutions that solve 
        our customers’ precise needs. We deliver global technology-based research in national 
        security and defense, energy and environment, life and animal sciences, agriculture and 
        food safety, and transportation.</p>
        <p>
         <input type="button" class="sp-learn-more" value="Documentation">
         </p>
    </div>
    </div>

    <div class="row align-items-center pb-5">
    <div class="col-sm-4">
        <%= image_tag 'utmb-logo.png', class:'sp-utmb-logo' %>
    </div>
    <div class="col-sm-8" style="text-align: justify;">
        <p>The <strong>University of Texas Medical Branch (UTMB)</strong>,one of the world's top biosafety 
        testing facilities,primarily does tests for the <strong>U.S. Military</strong> and the <strong>Centers for 
        Disease Control (CDC)</strong>.</p>
        <p>
         <input type="button" class="sp-learn-more" value="Documentation">
         </p>
    </div>
    </div>

    <div class="row align-items-center pb-5">
    <div class="col-sm-4">
        <%= image_tag 'EH-logo.svg', class:'sp-eh-logo' %>
    </div>
    <div class="col-sm-8" style="text-align: justify;">
        <p>The Health Sciences Centre is an acute care facility serving the people of the entire province.
         It is a teaching hospital and is connected to Memorial University’s Schools of Medicine, 
         Pharmacy and Nursing. It is also connected and shares services with the Janeway Children’s Health 
         and Rehabilitation Centre and the Dr. H. Bliss Murphy Cancer Centre.</p>
         <p>
         <input type="button" class="sp-learn-more" value="Documentation">
         </p>
    </div>
    </div>

    <div class="row align-items-center">
    <div class="col-sm-4">
        <%= image_tag 'cleveland-logo.svg', class:'sp-cleveland-logo' %>
    </div>
    <div class="col-sm-8" style="text-align: justify;">
        <p>Cleveland Clinic was at the forefront of modern medicine when its founders opened it as a 
        multi-specialty group practice in 1921. In its first century, Cleveland Clinic has introduced many 
        medical firsts, opened facilities around the world and is proud to be ranked among the top hospitals 
        in the country. Now, 100 years later, the vision of the founders remains Cleveland Clinic’s mission: 
        caring for life, researching for health, and educating those who serve.</p>
        <p>
         <input type="button" class="sp-learn-more" value="Documentation">
         </p>
    </div>
    
    </div>

</div>